body
{
    max-width: 1500px;
    margin: auto;
    font-size: 85%;
    font-family: source-han-sans-simplified-c, sans-serif;
}

table, th, td
{
    border: 1px solid black;
}

th
{
    background-color: black;
    color: white;
}
